<section>

    <div class="classes-lockup">


        <div class="classes-landing-lockup">
            <div class="classes-landing-title">Classes</div>


            <div class="classes-landing-blurb">
                <p>Paria Theatre offers a range of classes and workshops to cater to everyone who is interested in Improv, from the beginner to the advanced. Our classes are a great way to meet new people, develop performance skills and build confidence. We keep prices as cheap as possible to make sure that everyone has the opportunity to take part in them. Below are a list of Classes and opportunities, including casting calls.
                </p>
            </div>
            <div class="classes-levels-landing-lockup">
                <a href=#>
                    <div class="classes-landing-level-one">1. Introduction to Improv</div>
                </a>
                <a href=#>
                    <div class="classes-landing-level-two">2. Characters and Games</div>
                </a>
                <a href=#>
                    <div class="classes-landing-level-three">3. The Harold</div>
                </a>
                <a href=#>
                    <div class="classes-landing-level-four">4. Advanced Improv</div>
                </a>
            </div>
        </div>




        <div class="bxslider">
            <div>
            <div class="classes-level-one-lockup">
                <div class="level-one">Level One</div>
                <div class="level-one-title">Everyone's a Genius</div>
                <div class="level-one-description">
                    These classes are the perfect way to dip your toe into the world of improv; improve professional and creative skills or take the first step in making performance your career. We have a focus on building support with those playing with you and treating every idea like the gold it is.
                </div>
                <div class="level-one-picture"></div>
                <div class="level-one-bottom-row-lockup">
                    <div class="level-one-learnto-lockup">
                        <div class="level-one-learnto-title">Learn:</div>
                        <div class="level-one-learnto">
                            <div class="level-one-requirements-check fa fa-check" aria-hidden="true"></div>&nbsp; This is a thing you'll learn
                            <br>
                            <div class="level-one-requirements-check fa fa-check" aria-hidden="true"></div>&nbsp; This is another thing you'll learn
                        </div>
                    </div>
                    <div class="level-one-requirements-lockup">
                        <div class="level-one-requirements-title">Requirements:</div>
                        <div class="level-one-requirements">
                            <div class="level-one-requirements-check fa fa-check-square-o" aria-hidden="true"></div>
                            &nbsp;None!
                        </div>
                    </div>
                    <div class="level-one-signup-lockup">
                        <div class="level-one-signup-title">Sign Up:</div>
                        <div class=level-one-signup>Please click <a href="#">here </a>to register your interest in our level one course.</div>
                    </div>

                </div>
            </div>
            </div>
            <div>
            <div class="classes-level-two-lockup">
                <div class="level-two">Level Two</div>
                <div class="level-two-title">The Toolbox</div>
                <div class="level-two-description">
                    The second level is perfect for those who already have improv experience. Here we build your comedy utility belt with tricks on how to make funny characters, play with the details in front of you and how to dig yourself out of whatever holes you find yourself in. 
                </div>
                <div class="level-two-picture"></div>
                <div class="level-two-bottom-row-lockup">
                    <div class="level-two-learnto-lockup">
                        <div class="level-two-learnto-title">Learn:</div>
                        <div class="level-two-learnto">
                            <div class="level-two-requirements-check fa fa-check" aria-hidden="true"></div>&nbsp; This is a thing you'll learn
                            <br>
                            <div class="level-two-requirements-check fa fa-check" aria-hidden="true"></div>&nbsp; This is another thing you'll learn
                        </div>
                    </div>
                    <div class="level-two-requirements-lockup">
                        <div class="level-two-requirements-title">Requirements:</div>
                        <div class="level-two-requirements">
                            <div class="level-two-requirements-check fa fa-check-square-o" aria-hidden="true"></div>
                            &nbsp;Successful completion of level one course
                        </div>
                    </div>
                    <div class="level-two-signup-lockup">
                        <div class="level-two-signup-title">Sign Up:</div>
                        <div class=level-two-signup>Please click <a href="#">here </a>to register your interest in our level one course.</div>
                    </div>

                </div>
            </div>
            </div>
        </div>
            <!--            <div class="classes-level-two-lockup">
                <div class="level-two">Level Two</div>
                <div class="level-two-title">The Toolbox</div>
                <div class="level-two-description">
                    The second level is perfect for those who already have improv experience. Here we build your comedy utility belt with tricks on how to make funny characters, play with the details in front of you and how to dig yourself out of whatever holes you find yourself in.</div>
                <div class="level-two-picture"></div>
            </div>
            <div class="classes-level-three-lockup">
                <div class="level-three">Level Three</div>
                <div class="level-three-title">The Harold</div>
                <div class="level-three-description">
                    This level is designed to explore the world’s most famous longform format, the Harold. It builds on the previous two levels and looks at how to combine them into a full performance piece. Through this class you will learn to discover theme and tone to your improv and play with this in more than the single scene. This class requires completion of Characters and Games, or sufficient improv experience.</div>
            </div>
            <div class="classes-level-four-lockup">
                <div class="level-four">Level Four</div>
                <div class="level-four-title">Advanced Improv</div>
                <div class="level-four-description">
                    Advanced Improv is all about show formats and forms. The class takes you through the Armando, Monoscene, and Movie formats, looking at their individual challenges, quirks and delights. This level also looks at organic longform improv, unformed performance that has no preconception at all, even down to the form. This Class requires completion of the Harold class.</div>
            </div>-->


        </div>


    </div>

</section>