<section>

<div class="classes-lockup">

            <span class="classes-title">Classes</span>
            <div class="classes-top-img" style="background-image: url(/assets/img/ClassesMainImg.jpg);" />
            <br>
            <br>

            <div class="classes-blurb">
                <p>Paria Theatre offers a range of classes and workshops to cater to everyone who is interested in Improv, from the beginner to the advanced. Our classes are a great way to meet new people, develop performance skills and build confidence. We keep prices as cheap as possible to make sure that everyone has the opportunity to take part in them. Below are a list of Classes and opportunities, including casting calls.
</p>
            </div>
            

</div>
    
</section>