<section>

    <div class="classes-lockup">


        <div class="classes-landing-lockup">
            <div class="classes-landing-title">Classes</div>


            <div class="classes-landing-blurb">
                <p>Paria Theatre offers a range of classes and workshops to cater to everyone who is interested in Improv, from the beginner to the advanced. Our classes are a great way to meet new people, develop performance skills and build confidence. We keep prices as cheap as possible to make sure that everyone has the opportunity to take part in them. Below are a list of Classes and opportunities, including casting calls.
                </p>
            </div>
            <div class="classes-levels-landing-lockup">
            <a href=#><div class="classes-landing-level-one">1.  Introduction to Improv</div></a>
            <a href=#><div class="classes-landing-level-two">2.  Characters and Games</div></a>
            <a href=#><div class="classes-landing-level-three">3. The Harold</div></a>
            <a href=#><div class="classes-landing-level-four">4. Level Four: Advanced Improv</div></a>
            </div>
        </div>




        <div class="classes-alllevels-lockup">
            <div class="classes-level-one-lockup">
                <div class="level-one">Level One</div>
                <div class="level-one-title">Introduction to Improv</div>
                <div class="level-one-description">
                    The perfect way to begin your improv life or just get back in touch with the basics. Introduction to Improv looks at the core tenets of improv and helps you apply them to scenes. In this class you will start to develop communication and creative skills, discover how to initiate and contextualise your scenes and learn to employ the truth to make your scenes interesting.
                </div>
            </div>
            <div class="classes-level-two-lockup">
                <div class="level-two">Level Two</div>
                <div class="level-two-title">Characters and Games</div>
                <div class="level-two-description">
                    For those who have completed Introduction to Improv or have sufficient improv experiences, Characters and Games is where you get into the meat of the scene. It’s here where you learn about employing the truth for comedic effect. How to explore a character you have created and how to make memorable and funny scenes by discovering the dynamic within.</div>
            </div>
            <div class="classes-level-three-lockup">
                <div class="level-three">Level Three</div>
                <div class="level-three-title">The Harold</div>
                <div class="level-three-description">
                    This level is designed to explore the world’s most famous longform format, the Harold. It builds on the previous two levels and looks at how to combine them into a full performance piece. Through this class you will learn to discover theme and tone to your improv and play with this in more than the single scene. This class requires completion of Characters and Games, or sufficient improv experience.</div>
            </div>
            <div class="classes-level-four-lockup">
                <div class="level-four">Level Four</div>
                <div class="level-four-title">Advanced Improv</div>
                <div class="level-four-description">
                    Advanced Improv is all about show formats and forms. The class takes you through the Armando, Monoscene, and Movie formats, looking at their individual challenges, quirks and delights. This level also looks at organic longform improv, unformed performance that has no preconception at all, even down to the form. This Class requires completion of the Harold class.</div>
            </div>


        </div>


    </div>

</section>