<section>

    <div class="contact-lockup">

        <div class="contact">
            <span class="contact-title">Contact</span>
            <div class="contact-top-image"></div>
            <br>
            <br>

            <div class="contact-blurb">
                <p>If you want to get in touch with Paria Theatre about classes, shows, corporate events or anything else really, please send an email to <a class="biglink" href="mailto:pariaexchange@gmail.com">pariaexchange@gmail.com</a> or use the form below. We’d be happy to answer any questions you might have and give you plenty of information about Paria Theatre.<br><br>We currently do not have premises but if you need to make direct contact we can arrange that through email. </p>
            </div>

        </div>

    </div>


</section>