<footer>
        
<div class="FooterContainer">
    <div class="footer-content-lockup">
        <div class="footer-logo-social-lockup">
        <div class="footer-logo-lockup">
            <div class="icon-logo-footer">{% include icons/icon-logo.html %}</div>
            <div class="footer-logo-text">
            PARIA<br>THEATRE
            </div>
            </div>
            <div class="footer-copyright-text">Copyright &copy;&nbsp;2016 Paria Theatre. All rights reserved.</div>
            
             <div class="social-links-footer-lockup">
        <div class="social-links-footer">
            
                <a href="https://www.facebook.com/PariaExchange/" class="fa fa-facebook"></a>
                <a href="http://twitter.com/PariaTheatre" class="fa fa-twitter"></a>
                <a href="https://instagram.com/PariaTheatre/" class="fa fa-instagram"></a>
        </div>
    </div>
            
        </div>
    
        
    
        

   
    </div>
</div>

    
</footer>