<footer>
        
<div class="FooterContainer">
    <div class="footer-content-lockup">
        <div class="footer-logo-social-lockup">
        <div class="footer-logo-lockup">
            <a href="/">
        <div class="HeaderLogo">
            <div class="HeaderTitle">
            MITCH |<span class="LastName"> STAPLETON</span>
            </div>
        </div>
    </a>
            </div>
            <div class="footer-copyright-text">Copyright &copy;&nbsp;2017 Mitch Stapleton. All rights reserved.</div>
            
             <div class="social-links-footer-lockup">
        <div class="social-links-footer">
            
                <a href="https://www.facebook.com/mitchstapleton1" class="fa fa-facebook"></a>
                <a href="http://twitter.com/mitchstapleton" class="fa fa-twitter"></a>
                <a href="https://instagram.com/mitchstapleton/" class="fa fa-instagram"></a>
        </div>
    </div>
            
        </div>
    
        
    
        

   
    </div>
</div>

    
</footer>