<section>
    <div id="form-container" class="form-container">
    <div class="form-lockup">
        <div class="form-header">Contact</div>
        <form method="POST" action="//formspree.io/pariaexchange@gmail.com">

            <div class="contact-info-group">
                <label><span>Name:</span>
                    <input type="text" name="name" placeholder="Your Name">
                </label>
                <label><span>E-mail:</span>
                    <input type="email" name="_replyto" placeholder="Your E-mail">
                </label>
            </div>


            <label><span>Comment:</span>
                <textarea id="message-box" name="message"></textarea>
                <input type="submit" value="Send">
            </label>


        </form>

    </div>
    </div>
</section>