<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">  
  <link rel="stylesheet" href="/assets/css/main.css" />
<script src="https://use.fontawesome.com/21f104dee6.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/FlexSlider/flexslider.css" />
<script src="/assets/FlexSlider/jquery.flexslider.js"></script>
<script src="/assets/js/smooth-scroll.js"></script>
<script src="/assets/js/headroom.js"></script>
<script src="/assets/js/functions.js"></script>
</head>