<header class="headroom">
<div class="HeaderContainer">
    
    <a href="/">
        <div class="HeaderLogo">
        <div class="icon-logo-header">{% include icons/icon-logo.html %}</div>
            <div class="HeaderTitle">
            PARIA THEATRE
            </div>
        </div>
    </a>

    
    <div class="navbar">
        <nav>
        <a href="/about">About</a>
        <a href="/shows">Shows</a>
        <a href="/classes">Classes</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        </nav>
    </div>
</div>
</header>