<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">  
  <link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/FlexSlider/flexslider.css">
<link rel="stylesheet" href="/assets/prism/prism.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/smooth-scroll.js"></script>
<script src="/assets/js/headroom.js"></script>
<script src="/assets/js/functions.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">
<script src="https://cdn.fontawesome.com:443/js/stats.js"></script></head>