<section>

    <div class="homepage-lockup">
        <div class="homepage-landing">

            <div class="homepage-landing-background">
                <div class="homepage-logo-lockup">
                    <div class="icon-logo-homepage">{% include icons/icon-logo.html %}</div>
                    <div class="paria-logo-text">Paria
                        <br>Theatre</div>
                </div>
                <div class="homepage-blurb">
                    Improvised Theatre and Comedy in the Heart of Nottingham.
                </div>
                <div class="homepage-cta-lockup">
                    <a href="shows">
                        <div class="homepage-shows-cta">Shows</div>
                    </a>
                    <a href="about">
                        <div class="homepage-about-cta">About</div>
                    </a>
                    <a href="classes">
                        <div class="homepage-classes-cta">Classes</div>
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>