<section>

    <div class="shows-lockup">
        <div class="shows-landing-lockup">
        <div class="shows-landing-title">Shows</div>
        </div>
        
        <div class="shows-allshows-lockup">
            <div class="shows-pe-lockup">
                <div class="shows-pe-picture"></div>
                <div class="shows-pe-title">Paria Exchange</div>
                <div class="shows-pe-subtitle">Two Men, One Question, No Script.</div>
                
            <div class="shows-pe-description">
                 The show that started it all; Paria Exchange is the signature show of Paria Theatre founders Gareth Hughes and Ben Macpherson. Swinging between the wildly silly and the profoundly moving, Paria Exchange is an hour of improvised stories, scenes and sketches. From an audience question the two performers weave 60 minutes of theatre and comedy in pursuit of an answer.
            </div>

        </div>


        </div>
    </div>
</section>
