<section>

    <div class="shows-lockup">
        <div class="shows-landing-lockup">
        <div class="shows-landing-title">Shows</div>
        </div>
        
        <div class="shows-allshows-lockup">
            <div class="shows-pe-lockup">
                <div class="shows-pe-picture"></div>
                <div class="shows-pe-title">Paria Exchange</div>
                
            
            <br>
            <br>

            <div class="pe-head-img" style="background-image: url(/assets/img/PariaExchange.jpg);" />
            <div class="pe-desc">
                <p>Two Men, One Question, No Script. The show that started it all; Paria Exchange is the signature show of Paria Theatre founders Gareth Hughes and Ben Macpherson. Swinging between the wildly silly and the profoundly moving, Paria Exchange is an hour of improvised stories, scenes and sketches. From an audience question the two performers weave 60 minutes of theatre and comedy in pursuit of an answer. “Intelligent Inspired and Inimitable”</p>
            </div>
            <div class="cast-members">
                
            </div>

        </div>

        <div class="shows-grimoire">
            <span class="grimoire-title">The Grimoire: Unnatural Tales of the Gothic and Horrific</span>
            <br>
            <br>

            <div class="grimoire-head-img" style="background-image: url(/assets/img/TheGrimoire.jpg);" />
            <div class="grimoire-desc">
                <p>Improvised Tales of Horror coming soon from Paria Theatre</p>
            </div>

            <div class="cast-members">
                
            </div>
        </div>
    </div>
    </div>
</section>
