.blogpost-cover
    object-fit: cover
    width: 100%
    z-index: 1
    display: block
    position: relative
    max-height: 100vh
    
.blogpost-title-wrapper
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    color: #fff
    @include background( linear-gradient(to right, rgba(67,132,150,0.5), rgba(106,164,181,0.5)))
    margin: 0 auto
    padding: 20px 20px 10px 10px
    
.blogpost-title-inner
    max-width: 300px
    margin: 0 auto
    
.blogpost-title
    font-weight: 400
    font-size: 48px
    
.blogpost-content-wrapper
    margin: 0 auto
    padding: 50px
    
.blogpost-content
    font-family: 'Merriweather', serif
    font-size: 20px
    font-weight: 300
    max-width: 60%
    margin: auto
    
