.classes-landing-title
    text-transform: uppercase
    display: inline-block
    position: relative
    top: 50px
    left: 50px
    font-size: 60px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    border-bottom: 5px solid #fff

.classes-landing-lockup
    background: url(../images/PariaHomeTest2.jpg) no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    height: calc(100vh - 45px)
    z-index: 100
    display: block
    position: relative
    top: 45px

.classes-landing-blurb
    display: inline-block
    position: absolute
    top: 200px
    left: 0px
    max-width: 60%
    font-size: 22px
    background: rgba(#2a0845, 0.7)
    padding: 0px 10px 0px 60px
    letter-spacing: 0.1em
    font-weight: 300
    line-height: 1.3em

.classes-levels-landing-lockup
    display: inline-block
    position: absolute
    right: 50px
    bottom: 50px
    font-size: 50px
    font-weight: 300
    font-family: Gill Sans, sans-serif
    letter-spacing: 0.15em
    
    a
        text-decoration: none
    
.classes-level-one-lockup
    display: block
    position: absolute
    background: rgba(#ffffff, 1)
    padding: 56px 7%
    margin: 45px 0px
    height: 600px
    
.level-one
    text-transform: uppercase
    display: inline-block
    font-size: 48px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    
.biglink
    color: black

.level-one-title
    text-transform: uppercase
    display: block
    max-width: 65%
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 300
    font-family: Gill Sans, sans-serif
    color: #333

.level-one-picture
    background: url(../images/Class1NewTest2.jpg) no-repeat center center
    width: 40%
    height: 50%
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    display: inline-block
    position: relative
    float: right
    top: -90px
    border-radius: 2px
    
.level-one-description
    display: inline-block
    max-width: 50%
    position: relative
    top: 30px
    font-size: 1.2em
    margin: 0px auto
    line-height: 1.7em
    color: #6B6A6A
    font-weight: 300
    
.level-one-bottom-row-lockup    
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    width: 100%
    text-align: center
    
.level-one-learnto-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-one-learnto-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    color: #333
    text-align: center
    
.level-one-learnto
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    color: #6B6A6A
    font-weight: 300
    text-align: left
    
.level-one-requirements-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-one-requirements-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    color: #333
    
.level-one-requirements
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    color: #6B6A6A
    font-weight: 300
 
.level-one-requirements-check
    color: #333
    
.level-one-signup-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-one-signup-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    color: #333
    
.level-one-signup
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    color: #6B6A6A
    font-weight: 300
    
    a
        color: $form-color
        font-weight: 400
    
.classes-level-two-lockup
    display: block
    position: absolute
    background: rgba(#5C347D, 0.8)
    padding: 56px 7%
    margin: 45px 0px
    height: 600px
.level-two
    text-transform: uppercase
    display: inline-block
    font-size: 48px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    
.level-two-title
    text-transform: uppercase
    display: block
    max-width: 65%
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 300
    font-family: Gill Sans, sans-serif

.level-two-picture
    background: url(../images/Class2NewTest.jpg) no-repeat
    width: 40%
    height: 50%
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    display: inline-block
    position: relative
    float: right
    top: -90px
    border-radius: 2px
    
.level-two-description
    display: inline-block
    max-width: 50%
    position: relative
    top: 30px
    font-size: 1.2em
    margin: 0px auto
    line-height: 1.7em
    font-weight: 300
    
.level-two-bottom-row-lockup    
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    width: 100%
    text-align: center
    
.level-two-learnto-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-two-learnto-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    text-align: center
    
.level-two-learnto
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    font-weight: 300
    text-align: left
    
.level-two-requirements-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-two-requirements-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    
.level-two-requirements
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    font-weight: 300
    
.level-two-signup-lockup
    flex-grow: 1
    flex-basis: 0
    
.level-two-signup-title
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    
.level-two-signup
    display: inline-block
    position: relative
    font-size: 1.2em
    margin: 0px 20px
    line-height: 1.7em
    font-weight: 300
    
    a
        color: $form-color
        font-weight: 400
    