.contact-lockup
    width: 100%
    border: 5px solid red
    
.contact-title
    text-align: left
    padding: 20px
    font-size: 60px
    font-weight: 400
    font-family: 'Montserrat', sans-serif
    text-transform: uppercase
    line-height: 1.2em
    
.contact-top-image
    background: url(../images/ContactMainImg.jpg) no-repeat
    display: inline-block
    background-size: 1000px 600px
    position: relative
    height: 600px
    width: 50%
    background-position: right bottom
    border: 5px solid pink
    
    
.contact-blurb
    display: none
    border: 5px solid blue
    font-size: 28px
    font-weight: 400