.headroom
    will-change: transform
    transition: transform 250ms ease-in-out
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    z-index: 999
    
.headroom--pinned
    transform: translateY(0%)
    
.headroom--unpinned
    transform: translateY(-100%)

.HeaderContainer
    height: 45px
    @include background( linear-gradient(to left, #6441A5 , #2a0845))
        
            
.HeaderLogo
    font-family: 'Montserrat', sans-serif
    display: inline-block
    font-weight: 700
    font-size: 30px
    line-height: 1
    padding: 0px 10px
    color: #ffffff
    margin: 3px 0px 0px 20px
    
.HeaderTitle
    display: inline-block
    
.navbar
    padding: 13px 20px 0px 0px
    margin: 0px 0px 0px 0px
    text-transform: uppercase
    font-weight: 700
    font-size: 18px
    display: inline-block
    float: right
    
nav a
    color: white
    text-align: center
    padding: 8px 12px 0px 12px
    text-decoration: none


.active-link
    background-color: $form-highlight-color

.icon-logo-header
    position: relative
    top: 5px
    display: inline-block
    width: 20px
    fill: white
    margin: 0px 20px 0px 0px
    
@media only screen and (max-width: 1160px)
            
    .HeaderTitle
        display: none
        
    .navbar
        padding: 13px 20px 0px 0px
        margin: 0px 0px 0px 0px
        text-transform: uppercase
        font-weight: 700
        font-size: 18px
        display: inline-block