.homepage-landing
    height: 100vh
    z-index: 900
    display: block
    width: 100%
    
.homepage-logo-lockup
    display: inline-block
    text-align: center
    width: 100%
    position: relative
    top: 100px
    margin: 0px auto
    
.homepage-landing-background
    background: url(../images/PariaHomeTest2.jpg) no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    height: 100vh
    width: 100%
    z-index: 1
    display: block
    position: relative
        
.icon-logo-homepage
    display: inline-block
    position: relative
    text-align: center
    top: 45px
    z-index: 1
    width: 200px
    fill: white
    z-index: 2
    padding-left: 5%

.paria-logo-text
    display: inline-block
    position: relative
    text-align: left
    font-size: 42px
    font-weight: 300
    font-family: 'Open Sans', sans-serif
    letter-spacing: 1em
    text-transform: uppercase
    line-height: 1.2em
    left: -55px
    top: 5px
    z-index: 2
        
.homepage-blurb
    display: block
    width: 30%
    position: relative
    font-family: 'Open Sans', sans-serif
    text-align: center
    font-size: 26px
    z-index: 2
    font-weight: 300
    margin: 0px auto
    top: 175px
    
.homepage-sub-blurb
    display: inline-block
    position: absolute
    text-align: right
    font-size: 30px
    width: 1000px
    right: 10px
    bottom: 10px

.homepage-cta-lockup
    display: flex
    position: relative
    justify-content: space-between
    width: 75%
    margin: 0px auto
    top: 250px
    
    div
        display: inline
        font-size: 26px
        border: 1px solid white
        padding-top: 20px
        padding-bottom: 20px
        padding-left: 20px
        padding-right: 10px
        text-transform: uppercase
        text-align: center
        font-weight: 400
        letter-spacing: 0.6em
        background: rgba(42, 8, 69, 0.8)
        border-radius: 2%
        flex-grow: 1
        
        &:hover
            background: $form-highlight-color
        transition: all 0.1s ease-in