.shows-landing-lockup
    background: url(../images/showsTest.jpg) no-repeat center center
    filter: grayscale(100%)
    -webkit-filter: grayscale(100%)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    height: calc(100vh - 45px)
    z-index: 100
    display: block
    position: relative
    top: 45px
    
.shows-landing-title
    text-transform: uppercase
    display: inline-block
    position: relative
    top: 50px
    left: 50px
    font-family: Gill Sans, sans-serif
    font-size: 42px
    letter-spacing: 0.3em
    font-weight: 300
    
    
.shows-pe-lockup
    display: block
    background: rgba(#ffffff, 1)
    padding: 45px 60px
    margin: 45px 0px
    height: 1500px
    position: absolute
    
.shows-pe-picture
    display: block
    background: url(../images/PariaExchangeMugshot.jpg) no-repeat center center
    background-size: cover
    background-color: pink
    height: 60vh
    width: 75%
    position: relative
    border-radius: 10px
    margin: 0px auto
    

.shows-pe-title
    text-transform: uppercase
    display: block
    position: relative
    font-size: 60px
    letter-spacing: 0.3em
    font-weight: 400
    font-family: Gill Sans, sans-serif
    color: #333
    text-align: center
    top: 30px
    
.shows-pe-subtitle
    text-transform: uppercase
    display: block
    position: relative
    font-size: 32px
    letter-spacing: 0.3em
    top: 30px
    font-weight: 300
    text-align: center
    font-family: Gill Sans, sans-serif
    color: #333
    
.biglink
    color: black

.shows-pe-subtitle
    text-transform: uppercase
    display: block
    font-size: 32px
    letter-spacing: 0.3em
    font-weight: 300
    font-family: Gill Sans, sans-serif
    color: #6B6A6A
    
.shows-pe-description
    display: inline-block
    position: relative
    font-size: 1.2em
    line-height: 1.7em
    color: #6B6A6A
    font-weight: 300
    margin: 0px 250px
    text-align: center
    top: 100px